<div class="container other-pages">
	<div class="row">
		<div class="col-md-12 dropdown">
			<h1>Available Dates</h1>
			<p>Please select your desired month from the dropdown menu below by clicking on the 'Select' button. This will show you what dates we have available that month. If you see an available date that you are interested in booking us for please contact us for further info.</p>

			<hr class="featurette-divider">

			<p>Please select a month below</p>
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#">January</a></li>
				<li><a href="#">February</a></li>
			</ul>

			
		</div>
	</div>

	<hr class="featurette-divider">
	
</div>