<div class="container other-pages">
	<div class="row">
		<div class="col-md-12 dropdown">
			<h1>Available Dates</h1>
			<p>Please click on the "Dates" button below to see a list of our available dates in the coming months. If you see an available date that you are interested in booking us for or have a future date in mind which is not yet listed please contact us for further info.</p>

			<hr class="featurette-divider">

			<p>Please click the button below to view available dates</p>
			<!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#">January</a></li>
				<li><a href="#">February</a></li>
			</ul>-->

			<!--Button should reveal list of dates provided by service-->
			
			<button href="#datesInfo" class="btn btn-primary" data-toggle="collapse">Dates</button>

			<div id=datesInfo class="collapse">
				<div ng-repeat="date in dates">
         			{{date.month}} {{date.day}}
    			</div>
    		</div>


			
		</div>


	</div>

	<hr class="featurette-divider">
	
</div>