<div class="container other-pages">
	<div class="row">
		<div class="col-md-12">
			<h1>FAQ</h1>
			<p>If you do not see an answer to your question below then please get in touch</p>
		</div>
	</div>
	
	<hr class="featurette-divider">

	<div class="row">
		<div class="col-md-12">
			<h3>How many band members are there?</h3>
			<p class="para-spacer">We are a 4 piece band that can cater for all occasions.</p>
			<h3>Do you use backing tracks?</h3>
			<p class="para-spacer">No. Our set is 100% live.</p>
			<h3>Do we provide a DJ service?</h3>
			<p class="para-spacer">Yes and we also provide Ceremony and Drinks reception entertainment.</p>
			<h3>How long do you play for?</h3>
			<p class="para-spacer">Our usual set is 3 hours long.</p>
			<h3>Do you require a deposit?</h3>
			<p class="para-spacer">Yes, we require a €250 deposit to secure your date.</p>
		</div>
	</div>
	
	<hr class="featurette-divider">


</div>