<!--Carousel to show changing images-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img class="first-slide" src="project-assets/band-assets/images/wedding-dance.jpeg">
			<div class="container">
				<div class="carousel-caption">
					<h1>The Wedding Singers</h1>
					<p>Wedding Band</p>
					<p><a class="btn btn-lg btn-primary" href="music" role="button">Watch Our Video</a></p>
				</div>
			</div>
		</div>
		<div class="item">
			<img class="second-slide" src="project-assets/band-assets/images/band2.jpeg">
			<div class="container">
				<div class="carousel-caption">
					<h1>Corporate events</h1>
					<p><a class="btn btn-lg btn-primary" href="music" role="button">Watch Our Video</a></p>
				</div>
			</div>
		</div>
		<div class="item">
			<img class="third-slide" src="project-assets/band-assets/images/drums2.jpeg">
			<div class="container">
				<div class="carousel-caption">
					<h1>Pre-dinner entertainment and late night DJ service</h1>
					<p><a class="btn btn-lg btn-primary" href="music" role="button">Watch Our Video</a></p>
				</div>
			</div>
		</div>
	</div>
	 <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>

<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="project-assets/band-assets/images/after-dinner.png" alt="Band image" width="140" height="140">
          <h2>After Dinner Entertainment</h2>
          <p>We provide the best after dinner live music you will find anywhere. We play a mix of old and contempary classics to suit your guests of all ages</p>
          <p><a class="btn btn-info" href="pricing" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="project-assets/band-assets/images/turntable.png" alt="Headphones image" width="140" height="140">
          <h2>Pre-dinner/DJ Service</h2>
          <p>If you would like we can also provide some pre-dinner acoustic music to entertain your guests during a drinks reception etc. And to finish off the night in style we also offer a DJ service where we will keep your guests dancing until the early hours</p>
          <p><a class="btn btn-info" href="pricing" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <img class="img-circle" src="project-assets/band-assets/images/audience.jpeg" alt="Corporate event image" width="140" height="140">
          <h2>Corporate Events</h2>
          <p>We are not just a wedding band, we are also available for your corporate events and can tailor our set list accordingly</p>
          <p><a class="btn btn-info" href="pricing" role="button">View details &raquo;</a></p>
        </div>
      </div>

      


      <!-- START THE FEATURETTES -->
      
      <hr class="featurette-divider">
       

     

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Showcase. <span class="text-muted">Come See us play.</span></h2>
          <p class="lead">We organise regular showcase events so that you can come check us out before you decide whether you'd like to book us for your event. We perform a selection of material from our setlist. Sign up to our newsletter below for regular updates.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="project-assets/band-assets/images/concert.jpeg" data-src="holder.js/500x500/auto" alt="Concert image">
        </div>
      </div>
      

     
      <hr class="featurette-divider">
       

     
      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Special request for your first dance. <span class="text-muted">We'll learn it.</span></h2>
          <p class="lead">If you have a certain song that holds a special place in your heart that you would like to hear for your first dance please let us know and we'll be happy to learn it.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="project-assets/band-assets/images/special-song.jpeg" alt="First dance image">
        </div>
      </div>

</div>
      
      <!--Highlighted section that covers the entire width of the page-->
      <div class="container-fluid">
        <div class="row">
          <div class="cold-md-12">
            <hr class="featurette-divider margin-remove">
            </div>
          </div>
        </div>


      <section class="container-fluid bg-dark">

      <div class="row">
        <div class="col-md-12 contact-links">
          <h2>Book Today</h2>
          <p>Please check our available dates by clicking the button below. If you see a date you would like to book please get in touch</p>
          <a class="btn btn-lg btn-info" href="contact/dates" role="button">Check Dates</a>
          <a class="btn btn-lg btn-success" href="contact/contactform" role="button">Get In Touch</a>
        </div>
      </div>

      <hr class="featurette-divider margin-remove">

      <div class="row no-divider">
        <div class="col-md-12 contact-links">
          <h2>Newsletter</h2>
          <p>Please sign up to our newsletter for news updates and great offers</p>
          <form class="form-inline" name="newsletterSignup" data-ng-submit="submitForm()" novalidate>
            <div class="form-group">
              <label>Name: </label>
              <input type="text" name="name" class="form-control" data-ng-model="user.name" placeholder="Full Name" required>
            </div>
            <div class="form-group">
              <label>Email: </label>
              <input type="email" name="email" class="form-control" data-ng-model="user.email" placeholder="someone@example.com" required>
            </div>

            <button type="submit" class="btn btn-success" data-ng-disabled="newsletterSignup.$invalid">Submit</button>
          </form>
          
        </div>
      </div>

      
      </section>

     
      