<!--Page heading and description secion-->
<div class="container other-pages">
	<div class="row">
		<div class="col-md-12">
			<h1>Check out the band</h1>
			<p>Please check out some audio and video samples of our live performances below.</p>
		</div>
	</div>

	<hr class="featurette-divider">

	<!--Embedded video with accompanying info-->
	<div class="row">
	<div class="col-md-8">
		<h1>Music Video</h1>
		<p class="sample-description">This will showcase video and audio samples of the band</p>
		<video controls="controls" poster="project-assets/band-assets/images/jazz.jpeg">
			<source src="project-assets/band-assets/video/themonkees.mp4" type="video/mp4">
		</video>
	</div>
	<div class="col-md-4">
		<h2>Some Info About the Video</h2>
		<p>Please check out this short video of one of our live performances which will give you some idea of how we sound and look live. To get the full experience please consider coming along to one of our many showcase events which we plan regularly in various locations around the country.</p>
	</div>
	</div>

	<hr class="featurette-divider">

	<!--Playable audio tracks with info-->
	<div class="row">
	<div class="col-md-8">
		<h1>Audio Samples</h1>
		<p class="sample-description">Some sample tracks from our set list to give you a taste of how we sound</p>
		<audio controls="controls" class="audio-spacer">
			<source src="project-assets/band-assets/audio/ImABeliever.mp3" type="audio/mpeg; codecs=mp3">
		</audio>
		<audio controls="controls" class="audio-spacer">
			<source src="project-assets/band-assets/audio/DaydreamBeliever.mp3" type="audio/mpeg; codecs=mp3">
		</audio>
		<audio controls="controls" class="audio-spacer">
			<source src="project-assets/band-assets/audio/Clarksville.mp3" type="audio/mpeg; codecs=mp3">
		</audio>
	</div>
	<div class="col-md-4">
		<h2>Some Info About The Audio Samples</h2>
		<p>Here are a few sample recordings of us playing some of our favourite songs. This is only a small taster of the material we can perform live and we are constantly adding and updating our repetoire.</p>
	</div>
	</div>

	<hr class="featurette-divider">


</div>