<div class="container other-pages">
	<div class="row">
	<div class="col-md-12">
		<h1>Set list</h1>
		<p>Please see below a list of the songs that we can perform at your event. We are happy to learn your first dance song for your wedding or other additional songs at your request.</p>
	</div>
	</div>

	<hr class="featurette-divider">

	<div class="row">
		<div class="col-md-12">
			<h2>Classic/Country/Modern Hits</h2>
		</div>
	</div>

	<div class="row">
	<div class="col-md-6">
		<ul>
			<li>Hounddog - Elvis Presley</li>
			<li>Jailhouse Rock - Elvis Presley</li>
			<li>Can't Buy Me Love - The Beatles</li>

		</ul>
	</div>
	<div class="col-md-6">
		<ul>
			<li>Smells Like Teen Spirit - Nirvana</li>
			<li>Vertigo - U2</li>
			<li>Seven Nation Army - The White Stripes</li>
		</ul>
	</div>
	</div>

	<hr class="featurette-divider">

	<div class="row">
		<div class="col-md-12">
			<h2>Waltz</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<ul>
				<li>Delilah - Tom Jones</li>
				<li>That's Amore - Deam Martin</li>
				<li>Read Rose Cafe - The Fureys</li>
			</ul>
		</div>
	</div>

	<hr class="featurette-divider">

</div>